{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery -->
    <script src="https://kit.fontawesome.com/f9a809ddea.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- flipster css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.flipster.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- Javascript-->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- flipster js -->
    <script src="{% static 'js/jquery.flipster.min.js' %}"></script>
    <!-- sly js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>
    <!-- 페이지 타이틀 설정 -->
    <title>DjangoBooks</title>
    <!-- 스타일 블록 -->
    {% block style %}{% endblock %}
    <!-- 내비게이션 바 -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <!-- 로고 -->
        <a class="navbar-brand" href="{% url 'mainpage' %}">
           <img src="{% static 'img/django.png' %}" alt="Logo" width="80" height="30" class="d-inline-block align-text-top">
           DjangoBooks
        </a>
        <!-- 내비게이션 메뉴-->        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link {% if request.path == '/' %}disabled{% endif %}" aria-current="page" href="{% url 'mainpage' %}">HOME</a>
            {% if request.user.is_authenticated %}
              <h3 class="nav-link">{{request.user.name}}</h3>
              <a class="nav-link" href="{% url 'accounts:logout' %}">LOGOUT</a>
            {%else%}
              <a class="nav-link" data-bs-toggle="modal" data-bs-target="#LoginModal">LOGIN</a>
              <a class="nav-link" data-bs-toggle="modal" data-bs-target="#RegisterModal">REGISTER</a>
            {%endif%}
            <a class="nav-link" href="#">BOOKSHELF</a>
          </div>          
        </div>
      </div>
    </nav>
  </head>

  <body style="margin-top: 60px; padding: 15px;">
    <!-- 검색창 -->
    <div class="search">
      <form class="input-group" action="{% url 'search' %}" method="GET">
        <input type="text" class="form-control" name="search_input" id="search_input" placeholder="Search" aria-describedby="button-search" value="{%if search_input %}{{search_input}}{%endif%}">
          
        <button class="btn btn-outline-secondary" type="submit" id="button-search">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
    <!-- 내용 -->
    {% block content %}{% endblock %}
    <!-- 로딩 화면 -->
    {% include 'loading_screen.html' %}

    {% include 'modal_login.html' %}
    {% include 'modal_register.html' %}

  <footer></footer>
    <!-- bootstrap / css -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
