{% load static %}
<div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">{{book.TITLE_NM}}</h5>
</div>

<div class="modal-body" style="margin-top: -20px;">
  <div class="hstack gap-3">
    <img class="img-responsive modal-img-book" src=
    {% if book.IMAGE_URL %}"{{book.IMAGE_URL}}"{%else %}"{% static 'img/no_book_image.png' %}"{% endif %}>
    <div class="d-flex"><div class="vr"></div></div>  
    <div class="p-2">
      <ul class="list-group list-group-flush" style="height: 300px; margin-left: -10px;">
        <li class="list-group-item">         
          <h6 class="fw-medium text-capitalize" style="margin-bottom: -5px;"><strong>ISBN</strong><br>{{book.ISBN_THIRTEEN_NO}}</h6>
        </li>
        <li class="list-group-item">    
          <h6 class="fw-medium text-capitalize" style="margin-bottom: -5px;"><strong>Authuer</strong><br>{{book.AUTHR_NM}}</h6>     
        </li>
        <li class="list-group-item">      
          <h6 class="fw-medium text-capitalize" style="margin-bottom: -5px;"><strong>Publisher</strong><br>{{book.PUBLISHER_NM}}</h6>     
        </li>
        <li class="list-group-item">    
          <h6 class="fw-medium text-capitalize" style="margin-bottom: -5px;"><strong>Publication year</strong><br>{{book.PBLICTE_DE}}</h6>     
        </li>
        <li class="list-group-item">         
          <h6 class="fw-medium text-capitalize" style="margin-bottom: -5px;"><strong>Subject</strong><br>{{book.KDC_NM}}</h6>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal-content-container">
    <h5 class="fw-medium"><strong>소개글</strong></h5>    
        </div>
        <div class="content-desc">
          <p>{% if book.description %}{{book.description}}{% else %}도서 설명이 없습니다.{% endif %}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  {% comment %} <button type="button" class="btn btn-primary">Understood</button> {% endcomment %}
</div>
