{% extends 'base.html' %}
{% block content %}
{% load static %}
  {% comment %} 도서 종류별 메뉴 {% endcomment %}
  
<hr>
<div class="mainpage">
  <div class="d-flex" style="height: auto">
    <div class="books-menu p-1">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        {% comment %} 도서 종류 아이템 - Book {% endcomment %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Book" aria-expanded="false" aria-controls="flush-collapse-Book">
              Book
            </button>
          </h2>
          <div id="flush-collapse-Book" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body p-0">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>            
            </div>
          </div>
        </div>
        {% comment %} 도서 종류 아이템 - E-Book{% endcomment %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Ebook" aria-expanded="false" aria-controls="flush-collapse-Ebook">
              E-Book
            </button>
          </h2>
          <div id="flush-collapse-Ebook" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body p-0">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vr"></div>
  </div>
  
  
  
  <div class="main">
    {% comment %} 도서 할인 광고 {% endcomment %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <hr>

    {% comment %} 새롭게 출시된 책 {% endcomment %}
    <h3 class="title">New Release</h3>    
    <div class="release">
      <div class="carousel-wheel">
        <div id="carousel">
          <ul class="flip-items">
            {%if newReleases%}
              {%for newRelease in newReleases %}
                <li><img src="{%if newRelease.img_url_l%}{{newRelease.img_url_l}}{% else %}{% static 'img/no_book_image.png.jpg' %}{% endif %}" 
                  data-isbn="{{newRelease.isbn}}"
                  data-title="{{newRelease.title}}"
                  data-subtitle="{{newRelease.subtitle}}"
                  data-authors="{{newRelease.authors}}"
                  data-publishers="{{newRelease.publishers}}"
                  data-publishdate="{{newRelease.publish_date}}"
                  data-subjects="{{newRelease.subjects}}"
                  data-description="{{newRelease.description}}"></li>
              {%endfor%}
            {% endif %}
          </ul>
        </div>
        {% comment %} Flipster 기능 {% endcomment %}
        <script>
          $(document).ready(function(){
            var dataset = $('.flipster__item__content')[0].getElementsByTagName('img')[0].dataset;
            change_info(dataset);
          });
          // Flipster 초기화 및 함수 지정
          var carousel = $("#carousel").flipster({
            style: 'carousel',
            spacing: -0.5,
            nav: false,
            buttons: true,
            autoplay: 5000,
            loop:true,
            start: 0,
            onItemSwitch : function(current){
              dataset = current.getElementsByTagName('img')[0].dataset;
              change_info(dataset);
            },
          });
          // Flipster 변화에 따른 설명문 변경
          function change_info(dataset){
            jQuery(document.querySelector("#carousel-info")).fadeOut(100, function(){
              document.querySelector("#carousel-info").innerHTML = ''

              if (check_empty(dataset.title)){
                document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h3 id="carousel-info-title">'+ dataset.title +'</h3><br>');
              }
              if (check_empty(dataset.subtitle)){
                document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-subtitle">'+ dataset.subtitle +'</h5><br>');
              }
              if (check_empty(dataset.authors)){
                document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-authors">'+'by ' + dataset.authors +'</h5><hr style="margin: auto">');
              }
              if (check_empty(dataset.publishers)){
                document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-publishers">'+ dataset.publishers +'</h5>');
              }
              if (check_empty(dataset.publishdate)){
                document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-publishdate">'+ dataset.publishdate +'</h5>');
              }          
              if (dataset.subjects != "None"){                 
                // 주제 데이터셋 분할
                document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<div id="carousel-info-subjects"><h3>Subjects</h3><br></div>');
                const subjects = dataset.subjects.split('/ ');
                const SUBJECTS_TEMPLATE = (subject) => '<button type="button" class="btn btn-primary">'+subject+'</button>';
                subjects.forEach(subject => document.querySelector("#carousel-info-subjects").insertAdjacentHTML("beforeend", SUBJECTS_TEMPLATE(subject)))
  
                jQuery(document.querySelector("#carousel-info")).fadeIn(100);
              }            
            });
          }

          function check_empty(data){
            if(data != "None") return true;
            else return false;
          }
        </script>
      </div>
      <div class="carousel-info" id="carousel-info">    
        <h3 id="carousel-info-title"></h3> 
        <h5 id="carousel-info-subtitle"></h5>
        <hr>
        <p id="carousel-info-publishers"></p>
        <p id="carousel-info-publish-date"></p>
        <hr>
        <p id="carousel-info-authors"></p>
        <div id="carousel-info-subjects"></div>  
      </div> 
    </div>   
    <hr>
    {% comment %} 베스트 셀러 {% endcomment %}
    <h3 class="title">Bestseller</h3>
    <div class="bestseller">
      <div class="frame">
        <ul class="slidee">
          {%if bestsellers%}
            {%for bestseller in bestsellers%}
              <li><img src="{%if bestseller.img_url_l%}{{bestseller.img_url_l}}{% else %}{% static 'img/no_book_image.png.jpg' %}{% endif %}" value="{{bestseller.isbn}}"></li>
            {%endfor%}
          {% endif %}
        </ul>
      </div>
    </div>
    
    <script>
        var sly = new Sly($('.frame'), {
            horizontal: 1, // required
            itemNav: 'basic', // required
            smart: 1,
            mouseDragging: 1,
            touchDragging: 1,
            releaseSwing: 1,
            scrollSource: null,
            speed: 300,
            elasticBounds: 1,
            dragHandle: 1,
            dynamicHandle: 1,
            clickBar: 1
        }, null).init();
        var counter = 0;
    </script>
  </div>
</div>

<div class = "mainpage2">
  <hr>
  {% comment %} 핫한 리뷰 {% endcomment %}
  <h3 class="title">Hot Review!</h3>
  <div class="hot-review">
  <div class="row m-0">
    <div class="col-4 p-2">
      <div class="review-book">
        <img src="{% static 'img/book-img.jpg' %}" value="15001">
      </div>
    </div>
    <div class="col-8 p-2">
      <div class="review-info">
        <div id="review-book-info">
          <h3>Title</h3><h5>writer</h5>
        </div>
        <div id="review">
          <p id="review-text">리뷰 내용을 적성하면 이렇게 나온답니다.</p>
          <a href=""> 더보기</a>
        </div>
        <div id="review-writer">
          <p class="text-end">리뷰 작성자</p>
        </div>
      </div>
    </div>
  </div>
  
    
    
  </div>    
  <hr>
  {% comment %} 추천 도서 {% endcomment %}
  <h3 class="title">Books for you!</h3>  

</div>
  
{% endblock %}