{% extends 'base.html' %}
{% block style %}
<style>
  .mainpage .main {
    padding: 10px;
    flex: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
 
    .title {
       margin: 0;
       font-size: 30px;
       @media (max-width: 1024px) {
          font-size: 20px;
       }
    }
 
    .carousel {
       max-height: 300px;
    }
 
    .carousel-item img {
       max-height: 200px;
       object-fit: contain;
 
       @media (max-width: 1024px) {
          max-height: 150px;
       }
    }
 
    .release {
       display: flex;
       flex-direction: row;
       padding: 10px;
       width: 100%;
       @media (max-width: 1024px) {
          flex-direction: column;
          padding: 3px;
       }
       .col-6 {
          width: 50%;
          @media (max-width: 1024px) {
             width: 100%;
          }
       }
       .carousel-wheel {
          height: auto;
          @media (max-width: 1024px) {
             width: auto;
          }
          #carousel {
             width: 100%;
             padding: 10px;
             height: auto;
             @media (max-width: 1024px) {
                width: 100%;
                padding: 3px;
             }
          }
          #carousel .flip-items {
             height: auto;
          }
 
          #carousel .flip-items li img {
             height: 400px;
             width: 300px;
             object-fit: contain;
             @media (max-width: 1024px) {
                height: 240px;
                width: 180px;
             }
             @media (max-width: 768px) {
             }
          }
       }
       .carousel-info {
          width: auto;
          height: 424px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          @media (max-width: 1024px) {
             width: 100%;
             height: auto;
             padding: 3px;
          }
 
          a {
             margin: 0px;
             width: 100%;
             font-size: 30px;
             @media (max-width: 1024px) {
                width: 100%;
                font-size: 25px;
             }
             display: inline-block;
             text-overflow: ellipsis;
             overflow: hidden;
             white-space: nowrap;
          }
 
          h5 {
             margin: 0px;
             width: 100%;
             font-size: 20px;
             @media (max-width: 1024px) {
                font-size: 18px;
             }
             display: inline-block;
             text-overflow: ellipsis;
             overflow: hidden;
             white-space: nowrap;
          }
          p {
             display: -webkit-box;
             -webkit-box-orient: vertical;
             -webkit-line-clamp: 6;
             overflow: scroll;
             font-size: 18px;
             overflow-x: hidden;
             overflow-y: scroll;
             @media (max-width: 1024px) {
                font-size: 15px;
             }
          }
          #carousel-info-authors {
             height: auto;
             @media (max-width: 1024px) {
                width: 100%;
             }
             #authors-list {
              width: max-content;
              display: inline-block;
              white-space: nowrap;
              text-overflow: clip;
           }
          }
 
          #carousel-info-subjects {
             height: auto;
             @media (max-width: 1024px) {
                width: 100%;
             }
 
             #subjects-list {
                width: max-content;
                display: inline-block;
                white-space: nowrap;
                text-overflow: clip;
             }
             .row {
                flex-direction: row;
             }
          }
          #carousel-info-description {
             flex: 1 1 auto;
             margin: 0;
             @media (max-width: 1024px) {
                height: 100px;
             }
          }
       }
       .carousel-info button {
          margin: 1px;
          --bs-btn-padding-y: 0.25rem;
          --bs-btn-padding-x: 0.5rem;
          --bs-btn-font-size: 1rem;
 
          @media (max-width: 1024px) {
             --bs-btn-padding-y: 0.1rem;
             --bs-btn-padding-x: 0.2rem;
             --bs-btn-font-size: 0.7rem;
          }
       }
    }
 
    .bestseller {
       width: 100%;
       .frame {
          width: 100%;
          padding: 0;
          touch-action: manipulation;
          .slidee {
             list-style: none;
             margin: 0;
             padding: 0;
             height: 100%;
          }
          .slidee li {
             float: left;
             margin: 0 5px 0 0;
             padding: 10px;
             height: 100%;
          }
          .slidee li img {
             height: 297px;
             width: 210px;
             object-fit: contain;
             @media (max-width: 1024px) {
                height: 150px;
                width: 100px;
                object-fit: contain;
             }
          }
       }
    }
 
    .hot-review {
       width: 100%;
       height: auto;
 
       .review-book {
          text-align: center;
          img {
             object-fit: contain;
             width: 100%;
             @media (max-width: 1024px) {
                height: 150px;
                width: 100px;
             }
          }
       }
       review-info {
          #review-book-info {
             h3,
             h5 {
                margin: 0;
             }
          }
          #review {
             overflow: hidden;
             position: relative;
             height: auto;
             flex: 0 1 auto;
             p {
                font-size: 15px;
             }
          }
       }
    }
 }
 
</style>
{% endblock %}
{% block content %}
{% load static %}
  {% comment %} 도서 종류별 메뉴 {% endcomment %}
  
<hr>
<div class="mainpage">
  <div class="main">
    {% comment %} 도서 할인 광고 {% endcomment %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators" style="margin:0;">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <hr>

    {% comment %} 새롭게 출시된 책 {% endcomment %}
    <h3 class="title">New Release</h3>    
    <div class="release">
      <div class="col-6">
        <div class="carousel-wheel">
          <div id="carousel">
            <ul class="flip-items">
              {%if newReleases%}
                {%for newRelease in newReleases %}
                  <a href={% url 'books:detail' %}?isbn={{newRelease.isbn}}>
                    <li><img src="{%if newRelease.img_url_l%}{{newRelease.img_url_l}}{% else %}{% static 'img/no_book_image.png.jpg' %}{% endif %}" 
                      data-isbn="{{newRelease.isbn}}"
                      data-title="{{newRelease.title}}"
                      data-subtitle="{{newRelease.subtitle}}"
                      data-authors="{{newRelease.authors}}"
                      data-publishers="{{newRelease.publishers}}"
                      data-publishdate="{{newRelease.publish_date}}"
                      data-subjects="{{newRelease.subjects}}"
                      data-description="{{newRelease.description}}"></li>
                  </a>                
                {%endfor%}
              {% endif %}
            </ul>
          </div>
          {% comment %} Flipster 기능 {% endcomment %}
          <script>
            window.onresize = function(event){
              setting_overflow_button();
            }
            $(document).ready(function(){
              var dataset = $('.flipster__item__content')[0].getElementsByTagName('img')[0].dataset;
              change_info(dataset);
            });
            // Flipster 초기화 및 함수 지정
            var carousel = $("#carousel").flipster({
              style: 'carousel',
              spacing: -0.5,
              nav: false,
              buttons: true,
              autoplay: false,
              loop:true,
              start: 0,
              onItemSwitch : function(current){
                dataset = current.getElementsByTagName('img')[0].dataset;
                change_info(dataset);
              },
            });
            // Flipster 변화에 따른 설명문 변경  
            function moveDetail(isbn){
              location.href = "{% url 'books:detail' %}?isbn=" + isbn;
            }
            function moveAuthor(author_id){
              location.href = "{% url 'books:author' %}?author_id=" + author_id;
            }
            function moveSubject(subject){
              location.href = "{% url 'books:subject' %}?subject=" + subject;
            }    
            function change_info(dataset){
              jQuery(document.querySelector("#carousel-info")).fadeTo(100,0, function(){
                document.querySelector("#carousel-info").innerHTML = ''
                //도서 제목 부분
                if (check_empty(dataset.title)){
                  if (check_empty(dataset.subtitle)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<a id="carousel-info-title" onclick="moveDetail('+"'"+dataset.isbn+"'"+');">'+dataset.title+'<br>'+dataset.subtitle+'</a>');}
                  else{document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<a id="carousel-info-title" onclick="moveDetail('+"'"+dataset.isbn+"'"+');">'+dataset.title+'</a>');}                
                }   
                //작가 추가 부분
                if (dataset.authors != "None"){              
                  document.querySelector(".author-modal-body").innerHTML = '';

                  document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<div class="hstack" id="carousel-info-authors"><div id="authors-list"></div></div><hr>');

                  const authors = JSON.parse(set_string_right(dataset.authors));

                  const AUTHORS_TEMPLATE = (author, author_id) =>'<button type="button" class="btn btn-primary" onclick="moveAuthor('+"'" + author_id +"'" +');">'+author+'</button>'; 

                  for (author_id in authors){
                    // 모달 내부 초기화
                    authors_name  = authors[author_id]

                    if(authors_name == ""){authors_name = "unnamed"}

                    document.querySelector("#authors-list").insertAdjacentHTML("beforeend", AUTHORS_TEMPLATE(authors_name,author_id))

                    document.querySelector(".author-modal-body").insertAdjacentHTML("beforeend", AUTHORS_TEMPLATE(authors_name,author_id))
                  }
                }
                
                // 도서 출판사
                if (check_empty(dataset.publishers)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-publishers">'+ dataset.publishers +'</h5>');}
                
                // 도서 출판일 
                if (check_empty(dataset.publishdate)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-publishdate">'+ dataset.publishdate +'</h5>');}      
                
                // 주제 추가 부분
                if (dataset.subjects != "None"){
                  // 모달 내부 초기화
                  document.querySelector(".subject-modal-body").innerHTML = '';
                  // 내부 내용 초기화
                  document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<hr><div class="hstack" id="carousel-info-subjects"><div id="subjects-list"></div></div><hr>');
                  // json 값을 받아와서 문장 내부 처리
                  const subjects = JSON.parse(set_string_right(dataset.subjects));                    
                  // 주제 배열을 버튼으로 만드는 템플릿             
                  const SUBJECTS_TEMPLATE = (subject) => '<button type="button" class="btn btn-primary" onclick="moveSubject('+"'" + subject +"'" +');">'+subject+'</button>';   
                  // json 반복문
                  for (subject_id in subjects){
                    // 배열에 버튼 추가
                    document.querySelector("#subjects-list").insertAdjacentHTML("beforeend", SUBJECTS_TEMPLATE(subjects[subject_id]))
                    // 모달에 버튼 추가
                    document.querySelector(".subject-modal-body").insertAdjacentHTML("beforeend", SUBJECTS_TEMPLATE(subjects[subject_id]))
                  }

                }
                
                // 도서 설명 부분
                if (check_empty(dataset.description)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<p id="carousel-info-description">'+ dataset.description +'</p>');}
                
                // 아주 약한 선명도를 먼저 주고 오버플로우에 대한 버튼 생성을 먼저시작
                jQuery(document.querySelector("#carousel-info")).fadeTo(1,0.01,function(){
                  setting_overflow_button();
                  // 완전하게 보이도록 설정
                  jQuery(document.querySelector("#carousel-info")).fadeTo(100,1)
                });     
              });
            }    
            function check_empty(data){
              if(data != "None") return true;
              else return false;
            }
            function set_string_right(string){
              let array = Array.from(string);
              check= false;
              for(let i = 0; i< array.length; i++){
                if(array[i] == '"'){
                  check = !check;
                }
                if(array[i] == "'" && check){
                  array[i] = '@'
                }
              }  
              return array.join('').replaceAll("'", '"').replaceAll('@', "'");                  
            }
            function setting_overflow_button(){
              console.log("child_width :" + document.querySelector("#subjects-list").scrollWidth + " || parent_width :" + document.querySelector("#carousel-info-subjects").offsetWidth);
              // 오버플로우 맞는 경우
              if(document.querySelector("#subjects-list").scrollWidth > document.querySelector("#carousel-info-subjects").offsetWidth){
                // 버튼이 없는 경우
                if(document.querySelector("#subject-modal-button") == null){
                  // 배열 overflow 속성 추가
                  document.querySelector("#subjects-list").style.overflow = "hidden";
                  // 모달 연결 버튼 추가
                  document.querySelector("#carousel-info-subjects").insertAdjacentHTML("beforeend",'<button class="btn ms-auto" id="subject-modal-button" data-bs-toggle="modal" data-bs-target="#subjectModal" style="text-align:right; width:auto; margin:0px"> + </button>');

                }
              // 오버플로우 아닌 경우
              }else{
                // 버튼이 있는 경우
                if(document.querySelector("#subject-modal-button") != null){
                  // 배열 overflow 속성 제거
                  document.querySelector("#subjects-list").style.removeProperty("hidden");
                  // 모달 연결 버튼 제거
                  document.querySelector("#carousel-info-subjects").removeChild(document.querySelector("#subject-modal-button"));
                }               
              }


              console.log("child_width :" + document.querySelector("#authors-list").scrollWidth + " || parent_width :" + document.querySelector("#carousel-info-authors").offsetWidth);
              if(document.querySelector("#authors-list").scrollWidth > document.querySelector("#carousel-info-authors").offsetWidth){
                // 버튼이 없는 경우
                if(document.querySelector("#author-modal-button") == null){
                  // 배열 overflow 속성 추가
                  document.querySelector("#authors-list").style.overflow = "hidden";
                  // 모달 연결 버튼 추가
                  document.querySelector("#carousel-info-authors").insertAdjacentHTML("beforeend",'<button class="btn ms-auto" id="author-modal-button" data-bs-toggle="modal" data-bs-target="#authorModal" style="text-align:right; width:auto; margin:0px"> + </button>');

                }
              // 오버플로우 아닌 경우
              }else{
                // 버튼이 있는 경우
                if(document.querySelector("#author-modal-button") != null){
                  // 배열 overflow 속성 제거
                  document.querySelector("#authors-list").style.removeProperty("overflow");
                  // 모달 연결 버튼 제거
                  document.querySelector("#carousel-info-authors").removeChild(document.querySelector("#author-modal-button"));
                }               
              }
            }
          </script>
        </div>
      </div>
      <div class="col-6">
        <div class="carousel-info" id="carousel-info">
        </div> 
      </div>
    </div>  
    <hr>
    {% comment %} 베스트 셀러 {% endcomment %}
    <h3 class="title">Bestseller</h3>
    <div class="bestseller">
      <div class="frame">
        <ul class="slidee">
          {%if bestsellers%}
            {%for bestseller in bestsellers%}
                <li>
                  <a href={% url 'books:detail' %}?isbn={{bestseller.isbn}}>
                    <img src="{%if bestseller.img_url_l%}{{bestseller.img_url_l}}{% else %}{% static 'img/no_book_image.png.jpg' %}{% endif %}" value="{{bestseller.isbn}}">
                  </a>
                </li>
            {%endfor%}
          {% endif %}
        </ul>
      </div>
    </div>    
    <script>
        var sly = new Sly($('.frame'), {
            horizontal: 1, // required
            itemNav: 'basic', // required
            smart: 1,
            mouseDragging: 1,
            touchDragging: 1,
            releaseSwing: 1,
            scrollSource: null,
            speed: 300,
            elasticBounds: 1,
            dragHandle: 1,
            dynamicHandle: 1,
            clickBar: 1
        }, null).init();
        var counter = 0;
    </script>

    <hr>
    {% comment %} 핫한 리뷰 {% endcomment %}
    <h3 class="title">Hot Review!</h3>
    <div class="hot-review">
        <div id="hot-review-carousel">
          <ul class="flip-items">
            {%if reviews%}
              {%for reviews in reviews %}
                <a href={% url 'books:detail' %}?isbn={{newRelease.isbn}}>
                  <li>
                    {% comment %} <img src="{%if newRelease.img_url_l%}{{newRelease.img_url_l}}{% else %}{% static 'img/no_book_image.png.jpg' %}{% endif %}" 
                    data-isbn="{{newRelease.isbn}}"
                    data-title="{{newRelease.title}}"
                    data-subtitle="{{newRelease.subtitle}}"
                    data-authors="{{newRelease.authors}}"
                    data-publishers="{{newRelease.publishers}}"
                    data-publishdate="{{newRelease.publish_date}}"
                    data-subjects="{{newRelease.subjects}}"
                    data-description="{{newRelease.description}}"> {% endcomment %}
                    <div class="card" style="width: 18rem;">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </li>
                </a>                
              {%endfor%}
            {% endif %}
          </ul>
        </div>
        <script>
          window.onresize = function(event){
            setting_overflow_button();
          }

          $(document).ready(function(){
            var dataset = $('.flipster__item__content')[0].getElementsByTagName('img')[0].dataset;
            change_info(dataset);
          });
          // Flipster 초기화 및 함수 지정
          var carousel = $("#hot-review-carousel").flipster({
            style: 'flat',
            spacing: -0.5,
            nav: false,
            buttons: true,
            autoplay: false,
            loop:true,
            start: 0,
            onItemSwitch : function(current){
            },
          });
          // Flipster 변화에 따른 설명문 변경

          function moveDetail(isbn){
            location.href = "{% url 'books:detail' %}?isbn=" + isbn;
          }
          function moveAuthor(author_id){
            location.href = "{% url 'books:author' %}?author_id=" + author_id;
          }
          function moveSubject(subject){
            location.href = "{% url 'books:subject' %}?subject=" + subject;
          }    
          function change_info(dataset){
            jQuery(document.querySelector("#carousel-info")).fadeTo(100,0, function(){
              document.querySelector("#carousel-info").innerHTML = ''

              //도서 제목 부분
              if (check_empty(dataset.title)){
                if (check_empty(dataset.subtitle)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<a id="carousel-info-title" onclick="moveDetail('+"'"+dataset.isbn+"'"+');">'+dataset.title+'<br>'+dataset.subtitle+'</a>');}
                else{document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<a id="carousel-info-title" onclick="moveDetail('+"'"+dataset.isbn+"'"+');">'+dataset.title+'</a>');}                
              }   
              //작가 추가 부분
              if (dataset.authors != "None"){              
                document.querySelector(".author-modal-body").innerHTML = '';

                document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<div class="hstack" id="carousel-info-authors"><div id="authors-list"></div></div><hr>');

                const authors = JSON.parse(set_string_right(dataset.authors));

                const AUTHORS_TEMPLATE = (author, author_id) =>'<button type="button" class="btn btn-primary" onclick="moveAuthor('+"'" + author_id +"'" +');">'+author+'</button>'; 

                for (author_id in authors){
                  // 모달 내부 초기화
                  authors_name  = authors[author_id]

                  if(authors_name == ""){authors_name = "unnamed"}

                  document.querySelector("#authors-list").insertAdjacentHTML("beforeend", AUTHORS_TEMPLATE(authors_name,author_id))

                  document.querySelector(".author-modal-body").insertAdjacentHTML("beforeend", AUTHORS_TEMPLATE(authors_name,author_id))
                }
              }
              
              // 도서 출판사
              if (check_empty(dataset.publishers)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-publishers">'+ dataset.publishers +'</h5>');}
              
              // 도서 출판일 
              if (check_empty(dataset.publishdate)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-publishdate">'+ dataset.publishdate +'</h5>');}      
              
              // 주제 추가 부분
              if (dataset.subjects != "None"){
                // 모달 내부 초기화
                document.querySelector(".subject-modal-body").innerHTML = '';
                // 내부 내용 초기화
                document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<hr><div class="hstack" id="carousel-info-subjects"><div id="subjects-list"></div></div><hr>');
                // json 값을 받아와서 문장 내부 처리
                const subjects = JSON.parse(set_string_right(dataset.subjects));                    
                // 주제 배열을 버튼으로 만드는 템플릿             
                const SUBJECTS_TEMPLATE = (subject) => '<button type="button" class="btn btn-primary" onclick="moveSubject('+"'" + subject +"'" +');">'+subject+'</button>';   
                // json 반복문
                for (subject_id in subjects){
                  // 배열에 버튼 추가
                  document.querySelector("#subjects-list").insertAdjacentHTML("beforeend", SUBJECTS_TEMPLATE(subjects[subject_id]))
                  // 모달에 버튼 추가
                  document.querySelector(".subject-modal-body").insertAdjacentHTML("beforeend", SUBJECTS_TEMPLATE(subjects[subject_id]))
                }

              }
              
              // 도서 설명 부분
              if (check_empty(dataset.description)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<p id="carousel-info-description">'+ dataset.description +'</p>');}
              
              // 아주 약한 선명도를 먼저 주고 오버플로우에 대한 버튼 생성을 먼저시작
              jQuery(document.querySelector("#carousel-info")).fadeTo(1,0.01,function(){
                setting_overflow_button();
                // 완전하게 보이도록 설정
                jQuery(document.querySelector("#carousel-info")).fadeTo(100,1)
              });     
            });
          }    
          function check_empty(data){
            if(data != "None") return true;
            else return false;
          }
          function set_string_right(string){
            let array = Array.from(string);
            check= false;
            for(let i = 0; i< array.length; i++){
              if(array[i] == '"'){
                check = !check;
              }
              if(array[i] == "'" && check){
                array[i] = '@'
              }
            }  
            return array.join('').replaceAll("'", '"').replaceAll('@', "'");                  
          }
          function setting_overflow_button(){
            console.log("child_width :" + document.querySelector("#subjects-list").scrollWidth + " || parent_width :" + document.querySelector("#carousel-info-subjects").offsetWidth);
            // 오버플로우 맞는 경우
            if(document.querySelector("#subjects-list").scrollWidth > document.querySelector("#carousel-info-subjects").offsetWidth){
              // 버튼이 없는 경우
              if(document.querySelector("#subject-modal-button") == null){
                // 배열 overflow 속성 추가
                document.querySelector("#subjects-list").style.overflow = "hidden";
                // 모달 연결 버튼 추가
                document.querySelector("#carousel-info-subjects").insertAdjacentHTML("beforeend",'<button class="btn ms-auto" id="subject-modal-button" data-bs-toggle="modal" data-bs-target="#subjectModal" style="text-align:right; width:auto; margin:0px"> + </button>');

              }
            // 오버플로우 아닌 경우
            }else{
              // 버튼이 있는 경우
              if(document.querySelector("#subject-modal-button") != null){
                // 배열 overflow 속성 제거
                document.querySelector("#subjects-list").style.removeProperty("hidden");
                // 모달 연결 버튼 제거
                document.querySelector("#carousel-info-subjects").removeChild(document.querySelector("#subject-modal-button"));
              }               
            }


            console.log("child_width :" + document.querySelector("#authors-list").scrollWidth + " || parent_width :" + document.querySelector("#carousel-info-authors").offsetWidth);
            if(document.querySelector("#authors-list").scrollWidth > document.querySelector("#carousel-info-authors").offsetWidth){
              // 버튼이 없는 경우
              if(document.querySelector("#author-modal-button") == null){
                // 배열 overflow 속성 추가
                document.querySelector("#authors-list").style.overflow = "hidden";
                // 모달 연결 버튼 추가
                document.querySelector("#carousel-info-authors").insertAdjacentHTML("beforeend",'<button class="btn ms-auto" id="author-modal-button" data-bs-toggle="modal" data-bs-target="#authorModal" style="text-align:right; width:auto; margin:0px"> + </button>');

              }
            // 오버플로우 아닌 경우
            }else{
              // 버튼이 있는 경우
              if(document.querySelector("#author-modal-button") != null){
                // 배열 overflow 속성 제거
                document.querySelector("#authors-list").style.removeProperty("hidden");
                // 모달 연결 버튼 제거
                document.querySelector("#carousel-info-authors").removeChild(document.querySelector("#author-modal-button"));
              }               
            }
          }
        </script>
      </div>

      <hr>
      {% comment %} 추천 도서 {% endcomment %}
      <h3 class="title">Books for you!</h3>  
    </div>
  </div>
</div>

{% include 'modal_subjects.html' %}
{% include 'modal_author.html' %}  
{% endblock %}