{% extends 'base.html' %}
{% block content %}
{% load static %}
  {% comment %} 도서 종류별 메뉴 {% endcomment %}
  
<hr>
<div class="mainpage">
  <div class="d-flex" style="height: auto">
    <div class="books-menu p-1">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        {% comment %} 도서 종류 아이템 - Book {% endcomment %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Book" aria-expanded="false" aria-controls="flush-collapse-Book">
              Book
            </button>
          </h2>
          <div id="flush-collapse-Book" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body p-0">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>            
            </div>
          </div>
        </div>
        {% comment %} 도서 종류 아이템 - E-Book{% endcomment %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-Ebook" aria-expanded="false" aria-controls="flush-collapse-Ebook">
              E-Book
            </button>
          </h2>
          <div id="flush-collapse-Ebook" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body p-0">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
              </ul>             
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vr"></div>
  </div>
  
  
  
  <div class="main">
    {% comment %} 도서 할인 광고 {% endcomment %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="{% static 'img/no_book_image.png' %}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <hr>

    {% comment %} 새롭게 출시된 책 {% endcomment %}
    <h3 class="title">New Release</h3>    
    <div class="release">
      <div class="row">
        <div class="col-6">
          <div class="carousel-wheel">
            <div id="carousel">
              <ul class="flip-items">
                {%if newReleases%}
                  {%for newRelease in newReleases %}
                    <a href={% url 'books:detail' %}?isbn={{newRelease.isbn}}>
                      <li><img src="{%if newRelease.img_url_l%}{{newRelease.img_url_l}}{% else %}{% static 'img/no_book_image.png.jpg' %}{% endif %}" 
                        data-isbn="{{newRelease.isbn}}"
                        data-title="{{newRelease.title}}"
                        data-subtitle="{{newRelease.subtitle}}"
                        data-authors="{{newRelease.authors}}"
                        data-authorsid="{{newRelease.authors_id}}"
                        data-publishers="{{newRelease.publishers}}"
                        data-publishdate="{{newRelease.publish_date}}"
                        data-subjects="{{newRelease.subjects}}"
                        data-description="{{newRelease.description}}"></li>
                    </a>                
                  {%endfor%}
                {% endif %}
              </ul>
            </div>
            {% comment %} Flipster 기능 {% endcomment %}
            <script>
              $(document).ready(function(){
                var dataset = $('.flipster__item__content')[0].getElementsByTagName('img')[0].dataset;
                change_info(dataset);
              });
              // Flipster 초기화 및 함수 지정
              var carousel = $("#carousel").flipster({
                style: 'carousel',
                spacing: -0.5,
                nav: false,
                buttons: true,
                autoplay: false,
                loop:true,
                start: 0,
                onItemSwitch : function(current){
                  dataset = current.getElementsByTagName('img')[0].dataset;
                  change_info(dataset);
                },
              });
              // Flipster 변화에 따른 설명문 변경
    
              function moveDetail(isbn){
                location.href = "{% url 'books:detail' %}?isbn=" + isbn;
              }

              function moveAuthor(author_id){
                location.href = "{% url 'books:author' %}?author_id=" + author_id;
              }
    
              function change_info(dataset){
                jQuery(document.querySelector("#carousel-info")).fadeOut(100, function(){
                  document.querySelector("#carousel-info").innerHTML = ''
                  if (check_empty(dataset.title)){
                    if (check_empty(dataset.subtitle)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<a id="carousel-info-title" onclick="moveDetail('+"'"+dataset.isbn+"'"+');">'+dataset.title+'<br>'+dataset.subtitle+'</a>');}
                    else{document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<a id="carousel-info-title" onclick="moveDetail('+dataset.isbn+');">'+dataset.title+'</a>');}                
                  }    
                  if (dataset.authors != "None"){                    
                    document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<div id="carousel-info-authors"></div><hr style="margin:3px;">');
                    const authors = dataset.authors.split('/ ');
                    const authors_id = dataset.authorsid.split('/ ');
                    const AUTHORS_TEMPLATE = (author, author_id) => '<button type="button" class="btn btn-primary" onclick="moveAuthor('+"'" + author_id +"'" +');">'+author+'</button>';
                    
                    for ( let i = 0; i < authors.length; i++ ){
                      document.querySelector("#carousel-info-authors").insertAdjacentHTML("beforeend", AUTHORS_TEMPLATE(authors[i],authors_id[i]))
                    }
                  }                  
                  if (check_empty(dataset.publishers)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-publishers">'+ dataset.publishers +'</h5>');}
                  if (check_empty(dataset.publishdate)){document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<h5 id="carousel-info-publishdate">'+ dataset.publishdate +'</h5>');}      
                  if (dataset.subjects != "None"){
                    document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<hr style="margin:3px;"><div id="carousel-info-subjects"> <div class="row m-0 p-0"><div class="col-11 m-0 p-0"><div id="subjects-list"></div></div><div class="col-1 m-0 p-0"><button class="btn" data-bs-toggle="modal" data-bs-target="#subjectModal" style="text-align:right; width:100%; margin:0px"> + </button></div></div></div><hr style="margin:3px;">');
                    const subjects = dataset.subjects.split('/ ');
                    const SUBJECTS_TEMPLATE = (subject) => '<button type="button" class="btn btn-primary">'+subject+'</button>';              
                    subjects.forEach(subject => document.querySelector("#subjects-list").insertAdjacentHTML("beforeend", SUBJECTS_TEMPLATE(subject)));

                    document.querySelector(".modal-body").innerHTML = ''
                    subjects.forEach(subject => document.querySelector(".modal-body").insertAdjacentHTML("beforeend", SUBJECTS_TEMPLATE(subject)));
                  }
                  
                  document.querySelector("#carousel-info").insertAdjacentHTML("beforeend",'<p id="carousel-info-description">'+ dataset.description +'</p>');
                  
                  jQuery(document.querySelector("#carousel-info")).fadeIn(100);     
                });
              }    
              function check_empty(data){
                if(data != "None") return true;
                else return false;
              }
            </script>
          </div>
        </div>
        <div class="col-6">
          <div class="carousel-info" id="carousel-info">
          </div> 
        </div>
      </div>
    </div>   
    <hr>
    {% comment %} 베스트 셀러 {% endcomment %}
    <h3 class="title">Bestseller</h3>
    <div class="bestseller">
      <div class="frame">
        <ul class="slidee">
          {%if bestsellers%}
            {%for bestseller in bestsellers%}
                <li>
                  <a href={% url 'books:detail' %}?isbn={{bestseller.isbn}}>
                    <img src="{%if bestseller.img_url_l%}{{bestseller.img_url_l}}{% else %}{% static 'img/no_book_image.png.jpg' %}{% endif %}" value="{{bestseller.isbn}}">
                  </a>
                </li>
            {%endfor%}
          {% endif %}
        </ul>
      </div>
    </div>
    
    <script>
        var sly = new Sly($('.frame'), {
            horizontal: 1, // required
            itemNav: 'basic', // required
            smart: 1,
            mouseDragging: 1,
            touchDragging: 1,
            releaseSwing: 1,
            scrollSource: null,
            speed: 300,
            elasticBounds: 1,
            dragHandle: 1,
            dynamicHandle: 1,
            clickBar: 1
        }, null).init();
        var counter = 0;
    </script>
  </div>
</div>

<div class = "mainpage2">
  <hr>
  {% comment %} 핫한 리뷰 {% endcomment %}
  <h3 class="title">Hot Review!</h3>
  <div class="hot-review">
  <div class="row m-0">
    <div class="col-4 p-2">
      <div class="review-book">
        <img src="{% static 'img/book-img.jpg' %}" value="15001">
      </div>
    </div>
    <div class="col-8 p-2">
      <div class="review-info">
        <div id="review-book-info">
          <h3>Title</h3><h5>writer</h5>
        </div>
        <div id="review">
          <p id="review-text">리뷰 내용을 적성하면 이렇게 나온답니다.</p>
          <a href=""> 더보기</a>
        </div>
        <div id="review-writer">
          <p class="text-end">리뷰 작성자</p>
        </div>
      </div>
    </div>
  </div>
  
    
    
  </div>    
  <hr>
  {% comment %} 추천 도서 {% endcomment %}
  <h3 class="title">Books for you!</h3>  

</div>


{% include 'modal_subjects.html' %}
  
{% endblock %}