.mainpage .main {
   padding: 10px;
   flex: 100%;
   overflow: hidden;
   position: relative;
   width: 100%;

   .title {
      margin: 0;
      font-size: 30px;
      @media (max-width: 1024px) {
         font-size: 20px;
      }
   }

   .carousel {
      max-height: 300px;
   }

   .carousel-item img {
      max-height: 200px;
      object-fit: contain;

      @media (max-width: 1024px) {
         max-height: 150px;
      }
   }

   .release {
      display: flex;
      flex-direction: row;
      padding: 10px;
      width: 100%;
      @media (max-width: 1024px) {
         flex-direction: column;
         padding: 3px;
      }
      .col-6 {
         width: 50%;
         @media (max-width: 1024px) {
            width: 100%;
         }
      }
      .carousel-wheel {
         height: auto;
         @media (max-width: 1024px) {
            width: auto;
         }
         #carousel {
            width: 100%;
            padding: 10px;
            height: auto;
            @media (max-width: 1024px) {
               width: 100%;
               padding: 3px;
            }
         }
         #carousel .flip-items {
            height: auto;
         }

         #carousel .flip-items li img {
            height: 400px;
            width: 300px;
            object-fit: contain;
            @media (max-width: 1024px) {
               height: 240px;
               width: 180px;
            }
            @media (max-width: 768px) {
            }
         }
      }
      .carousel-info {
         width: auto;
         height: 424px;
         padding: 10px;
         display: flex;
         flex-direction: column;
         @media (max-width: 1024px) {
            width: 100%;
            height: auto;
            padding: 3px;
         }

         a {
            margin: 0px;
            width: 100%;
            font-size: 30px;
            @media (max-width: 1024px) {
               width: 100%;
               font-size: 25px;
            }
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
         }

         h5 {
            margin: 0px;
            width: 100%;
            font-size: 20px;
            @media (max-width: 1024px) {
               font-size: 18px;
            }
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
         }
         p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
            overflow: scroll;
            font-size: 18px;
            overflow-x: hidden;
            overflow-y: scroll;
            @media (max-width: 1024px) {
               font-size: 15px;
            }
         }
         #carousel-info-authors {
            height: auto;
            @media (max-width: 1024px) {
               width: 100%;
            }
         }
         #carousel-info-authors #authors-list {
            width: max-content;
            display: inline-block;
            white-space: nowrap;
            text-overflow: clip;
         }

         #carousel-info-subjects {
            height: auto;
            @media (max-width: 1024px) {
               width: 100%;
            }

            #subjects-list {
               width: max-content;
               display: inline-block;
               white-space: nowrap;
               text-overflow: clip;
            }
            .row {
               flex-direction: row;
            }
         }
         #carousel-info-description {
            flex: 1 1 auto;
            margin: 0;
            @media (max-width: 1024px) {
               height: 100px;
            }
         }
      }
      .carousel-info button {
         margin: 1px;
         --bs-btn-padding-y: 0.25rem;
         --bs-btn-padding-x: 0.5rem;
         --bs-btn-font-size: 1rem;

         @media (max-width: 1024px) {
            --bs-btn-padding-y: 0.1rem;
            --bs-btn-padding-x: 0.2rem;
            --bs-btn-font-size: 0.7rem;
         }
      }
   }

   .bestseller {
      width: 100%;
      .frame {
         width: 100%;
         padding: 0;
         touch-action: manipulation;
         .slidee {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
         }
         .slidee li {
            float: left;
            margin: 0 5px 0 0;
            padding: 10px;
            height: 100%;
         }
         .slidee li img {
            height: 297px;
            width: 210px;
            object-fit: contain;
            @media (max-width: 1024px) {
               height: 150px;
               width: 100px;
               object-fit: contain;
            }
         }
      }
   }

   .hot-review {
      width: 100%;
      height: auto;

      .review-book {
         text-align: center;
         img {
            object-fit: contain;
            width: 100%;
            @media (max-width: 1024px) {
               height: 150px;
               width: 100px;
            }
         }
      }
      review-info {
         #review-book-info {
            h3,
            h5 {
               margin: 0;
            }
         }
         #review {
            overflow: hidden;
            position: relative;
            height: auto;
            flex: 0 1 auto;
            p {
               font-size: 15px;
            }
         }
      }
   }
}
