{% load static %}
<div id="table">
  <div class="search-result-text">
    {% if search_input%}
    <h5>result of</h5><h4>{{search_input}}</h4><h5>{% if books_list %} | {{count}} of Result is Found{%else%} | Nothing Found!{%endif%}</h5>
    {% endif %}
  </div>
  <div style="display:flex;">
    <div class="hstack gap-1" style="margin-left: auto;">
      <div class="p-0 ms-auto text-center">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{perpage}}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item {% if perpage == 5 %}disabled{% endif %}" data-sort="{{sort}}" data-perpage="5">5</a>
            </li>
            <li>
              <a class="dropdown-item {% if perpage == 10 %}disabled{% endif %}" data-sort="{{sort}}" data-perpage="10">10</a>
            </li>
            <li>
              <a class="dropdown-item {% if perpage == 15 %}disabled{% endif %}" data-sort="{{sort}}" data-perpage="25">25</a>
            </li>
            <li>
              <a class="dropdown-item {% if perpage == 20 %}disabled{% endif %}" data-sort="{{sort}}" data-perpage="50">50</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="vr"></div>
      <!-- 검색 조건 -->
      <div class="p-0 text-center">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {%if sort == 0 %}Sort by{% elif sort == 1 %}Relevence{% elif sort == 2 %}Newest{% elif sort == 3 %}Oldest{% elif sort == 4 %}A-Z{%endif%}
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item{%if sort == 1 %} disabled{% endif %}" data-sort="1" data-perpage="{{perpage}}">Relevence</a>
              </li>
              <li>
                <a class="dropdown-item{%if sort == 2 %} disabled{% endif %}" data-sort="2" data-perpage="{{perpage}}">Newest</a>
              </li>
              <li>
                <a class="dropdown-item{%if sort == 3 %} disabled{% endif %}" data-sort="3" data-perpage="{{perpage}}">Oldest</a>
              </li>
              <li>
                <a class="dropdown-item{%if sort == 4 %} disabled{% endif %}" data-sort="4" data-perpage="{{perpage}}">A-Z</a>
              </li>
            </ul>
          </div>
      </div>
      <div class="vr"></div>
      <!-- 검색 그리드 -->
      <div class="p-0 text-center">
        <div class="btn-group" role="group" aria-label="Small button group">
          <button type="button" class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewbox="0 0 16 16">
              <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
            </svg>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-justify" viewbox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  {%if books_list%}
    {% if mod == 0%}
      {% for book in books_list %}
        <!-- 리스트 형식 아이템 -->
        <div class="book-item">
          <img class="book-img" src="{% if book.img_url_m %}{{book.img_url_m}}{% else %}{% static 'img/no_book_image.png' %}{% endif %}" alt=""/>
          <div class="book-item-info">
            <div class="book-item-info-title">
              <h3>{{book.title}}</h3>
              {% if book.subtitle%}
                <h4>{{book.subtitle}}</h4>
              {% endif %}
            </div>
            <hr style="margin:0;">
            <div class="book-item-info-author">
              {% if book.authors%}
                {% for author, author_id in book.authors%}
                  <button onclick="location.href ='{% url 'books:author' %}?author_id={{author_id}}';">{{author}}
                  </button>
                {% endfor %}
              {% endif %}
              <br/>
            </div>
          </div>
        </div>
        <!-- 그리드 형식 아이템 -->
      {% endfor %}
      {% else%}
      <div class="container text-center p-10">
        <div class="row row-cols-5">
          {% for book in books_list %}
            <img class="book-img" src="{% if book.img_url_m %}{{book.img_url_m}}{% else %}{% static 'img/no_book_image.png' %}{% endif %}" alt=""/>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% else %}
  {% endif %}


 
  <hr style="margin:0;">
  <!-- 페이지네이션 -->
  <div class="text-center mt-3 mt-sm-3">
    <ul class="pagination justify-content-center mb-3">
      <!-- 페이지네이션 : 첫 페이지-->
      {% if books_list.has_previous %}
        <li class="page-item">
        {% else %}
          <li class="page-item disabled">
          {% endif %}
          <a class="page-link" href="#">First</a>
        </li>
        <!-- 페이지네이션 : 각 페이지 -->
        {% for page in page_range %}
          {% if page == books_list.number%}
            <li class="page-item d-none d-md-inline-block">
              <a class="page-link active" href="#">{{page}}</a>
            </li>
            {%else%}
            <li class="page-item">
              <a class="page-link" href="#">{{page}}</a>
            </li>
          {% endif %}
        {%endfor %}
        <!-- 페이지네이션 : 마지막 페이지 -->
        {% if books_list.has_next %}
          <li class="page-item" value="{{books_list.paginator.num_pages}}">
          {% else %}
            <li class="page-item disabled">
            {% endif %}
            <a class="page-link" href="#">Last</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Ajax 기능 구현 -->
<script>
  //페이지네이션 버튼 클릭에 따른 결과 전달
  $(".page-item").click(function () {
    if ($(this).text().trim() == 'First') {
      //첫 페이지인 경우 : 1
      num_pages = 1;
    } else if ($(this).text().trim() == 'Last') {
      //마지막 페이지인 경우 : 페이지 끝번
      num_pages = parseInt($(this).attr("value"));
    } else {
      //해당 페이지 : 페이지 번호
      num_pages = parseInt($(this).text());
    }

    url = "{% url 'books:list' %}";
    data = {
      page: num_pages,
      perpage: "{{perpage}}",
      sort: "{{sort}}",
      search_input: "{{search_input}}"
    };
    ajax_get(url, data);
  });

  $(document).on("click", ".dropdown-item", function (e) {
    e.preventDefault();
    url = "{% url 'books:list' %}";
    data = {
      perpage: $(this).data("perpage"), //GET 방식에 페이지 번호를 넣어서 전송
      sort: $(this).data("sort"), //GET 방식에 페이지 번호를 넣어서 전송
      search_input: "{{search_input}}"
    };
    ajax_get(url, data);
  });

  function ajax_get(url, data) {
    $.ajax({
      type: "get", //GET 방식 사용
      url: url,
      //djangoBooks의 list url을 불러옴
      data: data,
      success: function (data) {
        $("#table").html(data);
      },
      error: function (jqXHR, textStatus, errorThrown) {},
      beforeSend: function () {
        $("#loading_background").show();
        $("#loading_spinner").show();
        window.scrollTo(0, 0);
      },
      complete: function () {
        $("#loading_background").hide();
        $("#loading_spinner").hide();
      }
    });
  }
</script>
