{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- 도서 상세 페이지 -->
<section class="container" id="main">
	<div class="row">
		<div class="col-12">
			<span class="main-title">도서 상세정보</span>
		</div>
	</div>

	<div class="row">
		<div class="col-12 book-items">
			<div class="item">
				<!-- 도서 이미지 -->
				{% if book.img_url %}
				<img src="{{book.img_url}}">
				{% else %}
				<img src="{% static 'img/no_book_image.png' %}">
				{% endif %}

				<div class="metadata">
					<!-- 도서 제목 -->
					<div class="title">
						{{book.title}}
					</div>

					<table class="bibil">
						<tr>
							<th>저자</th>
							<td>{{book.author}}</td>
							<th>출판사</th>
							<td>{{book.publisher}}</td>
							<th>출판년도</th>
							<td>{{book.pub_date}}</td>
						</tr>
						<tr>
							<th>주제</th>
							<td>{{book.kdc_class_no}}</td>
							<th>ISBN</th>
							<td>{{book.isbn13}}</td>
							<th></th>
							<td></td>
						</tr>
					</table>
					<div class="rate">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-container">
		<div class="content-title">
			소개글
		</div>
		<div class="content-desc">
			{% if book.description %}
			{{book.description}}
			{% else %}
			도서 설명이 없습니다.
			{% endif %}
		</div>
	</div>
</section>
<!-- 도서 관련 토론 -->
{% endblock %}