{% extends 'base.html' %}
{% block style %}
<style>
	.mainpage{
		.container{
		}
	}
</style>
{% endblock %}
{% block content %}
{% load static %}
<!-- 도서 상세 페이지 -->
<div class="mainpage" style="flex-direction: row;">
	<section class="container" id="main">
		<div class="row">
			<div class="col-5">
				{% if book.img_url_l %}
				<img src="{{book.img_url_l}}">
				{% else %}
				<img src="{% static 'img/no_book_image.png' %}">
				{% endif %}	
			</div>
			<div class="col-7">
				<div>
					<h3>{{book.title}}</h3>
					<h5>{{book.subtitle}}</h5>
					<hr>
					{% for author_id, author in book.authors.items %}
                  <button onclick="location.href ='{% url 'books:author' %}?author_id={{author_id}}';">{{author}}
                  </button>
                {% endfor %}
					<h5>{{book.authors.1}}</h5>
					<h5>{{book.publishers}}</h5>
					<h5>{{book.publish_places}}</h5>
					<h5>{{book.publish_date}}</h5>
					<h5>{{book.languages}}</h5>
					<h5>{{book.number_of_pages}}</h5>
					<h5>{{book.physical_format}}</h5>
					<h5>{{book.physical_dimensions}}</h5>
					<h5>{{book.description}}</h5>
				</div>
			</div>
		</div>
		<div class="hstack">
			<div id="subjects-list">
				{% for subjects_id, subject in book.subjects.items %}
				<button type="button" class="btn btn-primary" onclick="location.href ='{% url 'books:subject' %}?subject={{subject}}';">{{subject}}</button>				
				{% endfor %}
			</div>
		</div>
	</section>
	<div class="recent_book" style="width:100px">
	</div>
</div>
<!-- 도서 관련 토론 -->
{% endblock %}