{% load static %}
<div class="search-result-text">
  {% if search_input%}
    <h5>result of</h5>
    <h4>{{search_input}}</h4>
    <h5>
    {% if authors_list %} | {{count}} of Result is Found{%else%} | Nothing Found!{%endif%}
    </h5>
    {% endif %}
</div>
<div class="search-result-list" style="display:flex;">
  {%if authors_list%}
    {% for author in authors_list %}
      <div class="author-item">
        <div class="author-img-frame">
          <img src="{{author.img}}"/>          
        </div>        
        <div class="vstack author-info">
          {% comment %} 작가 정보 {% endcomment %}
          <div class="p-2">
            <h3 class="author-info-name">{{author.name}}</h3>
            <h3>{%if location %}{{author.location}}{% endif %}</h3>
            <h3>{%if bio %}{{author.bio}}{% endif %}</h3>
            <h3>{%if birth_date %}{{author.birth_date}}{% endif %}</h3>
            <h3>{%if death_date %}{{author.death_date}}{% endif %}</h3>          
          </div>
          {% comment %} 작가의 도서 목록 {% endcomment %}
          <div class="author-books mt-auto">       
            <hr>   
            <div id="frame-{{author.author_id}}" class="frame">
              <ul class="slidee">
                {% for book in author.books %}
                <li>
                  <a href={% url 'books:detail' %}?isbn={{book.isbn}}>
                    <img src="{{book.img_url_s}}">
                  </a>
                </li>                  
                {% endfor %}
              </ul>
            </div>              
            <script>
              var sly = new Sly($('#frame-{{author.author_id}}'), {
                horizontal: 1, // required
                itemNav: 'basic', // required
                smart: 1,
                mouseDragging: 1,
                touchDragging: 1,
                releaseSwing: 1,
                scrollSource: null,
                speed: 300,
                elasticBounds: 1,
                dragHandle: 1,
                dynamicHandle: 1,
                clickBar: 1
              }).init();
            </script>
          </div>
        </div>
      </div>
      
    {% endfor %}
    <!-- 그리드 형식 아이템 -->
  {% else %}
  {% comment %} 도서 리스트가 없음 - 검색 결과 없음 {% endcomment %}
  {% endif %}

  <hr style="margin:0;">
  <!-- 페이지네이션 -->
  <div class="text-center">
    <ul class="pagination justify-content-center">
      <!-- 페이지네이션 : 첫 페이지-->
      {% if books_list.has_previous %}
        <li class="page-item">
        {% else %}
          <li class="page-item disabled">
          {% endif %}
          <a class="page-link" href="#">First</a>
        </li>
        <!-- 페이지네이션 : 각 페이지 -->
        {% for page in page_range %}
          {% if page == books_list.number%}
            <li class="page-item d-md-inline-block">
              <a class="page-link active" href="#">{{page}}</a>
            </li>
            {%else%}
            <li class="page-item">
              <a class="page-link" href="#">{{page}}</a>
            </li>
          {% endif %}
        {%endfor %}
        <!-- 페이지네이션 : 마지막 페이지 -->
        {% if books_list.has_next %}
          <li class="page-item" value="{{books_list.paginator.num_pages}}">
          {% else %}
            <li class="page-item disabled">
            {% endif %}
            <a class="page-link" href="#">Last</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>