{% extends 'base.html' %}
{% block content %}
{% load static %}
  <h1>Django Books</h1>
  <p>이제 페이지를 하나씩 채워보도록 합시다.</p> 

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
{% endblock %}